<main>
  <aside>
    <header>
      <h1>Flack</h1>
    </header>

    <nav>
      <h2>Channels</h2>
      <ul ng-repeat="channel in channelsCtrl.channels">
        <l1><a
          ui-sref="channels.messages({ channelId: channel.$id })"
          ui-sref-active="selected"># {{ channel.name }}</a></li>
      </ul>

      <ul>
        <li><em><a ui-sref="channels.new">+ create channel</a></em></li>
      </ul>

      <h2>Direct Messages</h2>
      <ul ng-repeat="user in channelsCtrl.users">
        <li><a
          ng-if="user.$id !== channelsCtrl.profile.$id"
          ui-sref="channels.direct({ uid: user.$id })"
          ui-sref-active="selected"
          >
          <span class="presence" ng-class="{ online: user.online }"></span>
          {{ user.displayName }}
        </a></li>
      </ul>
    </nav>

    <footer>
      <img
        class="user-pic"
        alt=""
        ng-src="{{ channelsCtrl.getGravatar(channelsCtrl.profile.$id) }}" />
      <section>
        <h2>
          <span class="presence" ng-class="{ online: channelsCtrl.profile.online }"></span>
          {{ channelsCtrl.profile.displayName }}
        </h2>

        <p>
          <a ui-sref="profile">edit profile</a>
          \
          <a href="#" ng-click="channelsCtrl.logout()">logout</a>
        </p>
      </section>
    </footer>
  </aside>

  <article>
    <ui-view></ui-view>
  </article>
</main>
