<header>
  <h1>
    {{ messagesCtrl.channelName }}
    <span ng-repeat="user in channelsCtrl.users">
    <img
      class="user-pic"
      ng-class="{ online: user.online }"
      alt="{{ user.displayName }}"
      ng-src="{{ channelsCtrl.getGravatar(user.$id) }}" />
    </span>
  </h1>
</header>

<ul>
  <li ng-repeat="message in messagesCtrl.messages">
    <img
      class="user-pic"
      alt="{{ channelsCtrl.getDisplayName(message.uid) }}"
      ng-src="{{ channelsCtrl.getGravatar(message.uid) }}" />

    <div class="message-info">
      <div class="user-name">
        {{ channelsCtrl.getDisplayName(message.uid) }}
        <span class="timestamp">{{ message.timestamp | date: "short" }}</span>
      </div>

      <div class="message">
        {{ message.body }}
      </div>
    </div>
  </li>
</ul>

<form ng-submit="messagesCtrl.sendMessage()">
  <p class="input-group">
    <input
      type="text"
      class="form-control"
      placeholder="Type a message..."
      ng-model="messagesCtrl.message">
    <span class="input-group-btn">
      <button type="submit" class="btn btn-default">Send</button>
    </span>
  </p>
</form>
